@keyframes pulse {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

.image {
  height: 180px;
  position: fixed;
  bottom: 5%;
  left: 5%;
}

@media (min-width: 1024px) {
  .image {
    height: 300px;
  }
}
